<template name="adminPanel">

<div class="container-fluid" id="admin-panel">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">

				<form class="form-horizontal admin-form">
					<h4>Market Setup</h4>
					
				  <div class="form-group form-number">
				    <label for="estimatedValue" class="col-xs-6">Estimated Value</label>
				    <div class="input-group">
							<input type="number" class="form-control col-xs-6" id="estimatedValue">
							<div class="input-group-addon">,000</div>
						</div>
				  </div>

				  <div class="form-group form-number">
				    <label for="actualValue" class="col-xs-6">Actual Value</label>
				    <div class="input-group">
					    <input type="number" class="form-control col-xs-6" id="actualValue">
					    <div class="input-group-addon">,000</div>
				    </div>
				  </div>
				  
				  <div class="form-group form-hour">
				    <label for="openHour" class="col-xs-6">Market opens at</label>
				    <input type="hour" class="form-control col-xs-6" id="openHour">
				  </div>

				  <div class="form-group form-hour">
				    <label for="closeHour" class="col-xs-6">Market closes at</label>
				    <input type="hour" class="form-control col-xs-6" id="closeHour">
				  </div>

				  <div class="form-group">
				      <button type="submit" class="btn btn-warning">Save</button>
				  </div>

				</form>

				<div class="row margin-top-20">
					<h4>Open and Close Market</h4>
					<h5>Market is {{ marketState }}</h5>

					<button id="open-market" class="btn btn-success">Open Market</button>
					<button id="close-market" class="btn btn-danger">Close Market</button>
				</div>

				<div class="row margin-top-20">
					<h4>Remove whatever </h4>
					
					<div class="btn-group" role="group" aria-label="">
						<button id="remove-trades" class="btn btn-danger">Remove Trades</button>
						<button id="remove-bids" class="btn btn-danger">Remove Bids</button>
						<button id="remove-offers" class="btn btn-danger">Remove Offers</button>
					</div>
						
					<div class="btn-group margin-top-20" role="group" aria-label="">
						<button id="remove-prices" class="btn btn-danger">Remove Prices</button>
						<button id="reset-market" class="btn btn-danger">Reset Market</button>
						<button id="reset-portfolio" class="btn btn-danger">Reset Portfolio</button>
					</div>

				</div>

			</div> <!-- left panel -->


			<div class="col-xs-12 col-md-8"> <!-- Right Panel -->
				<div class="row">
					{{> adminContent }}
				</div>
			</div> <!-- right panel ends -->



		</div> <!-- row -->
	</div> <!-- container -->
</div> <!-- container fluid -->
	
</template>






