<template name="adminPanel">

<div class="container-fluid" id="admin-panel">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">

				<form class="form-horizontal admin-form">
					<h4>Market Setup</h4>
					
				  <div class="form-group form-number">
				    <label for="estimatedValue" class="col-xs-6">Estimated Value</label>
				    <div class="input-group">
							<input type="number" class="form-control col-xs-6" id="estimatedValue" value="{{mktEstValue}}">
							<div class="input-group-addon">,000</div>
						</div>
				  </div>

				  <div class="form-group form-number">
				    <label for="actualValue" class="col-xs-6">Actual Value</label>
				    <div class="input-group">
					    <input type="number" class="form-control col-xs-6" id="actualValue" value="{{mktActValue}}">
					    <div class="input-group-addon">,000</div>
				    </div>
				  </div>
				  
				  <div class="form-group form-hour">
				    <label for="openHour" class="col-xs-6">Market opens at</label>
				    <input type="hour" class="form-control col-xs-6" id="openHour" value="{{mktOpenHour}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="closeHour" class="col-xs-6">Market closes at</label>
				    <input type="hour" class="form-control col-xs-6" id="closeHour" value="{{mktCloseHour}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="mktOpen" class="col-xs-6">Open</label>
				    <input type="number" class="form-control col-xs-6" id="mktOpen" value="{{mktOpen}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="mktHigh" class="col-xs-6">High</label>
				    <input type="number" class="form-control col-xs-6" id="mktHigh" value="{{mktHigh}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="mktLow" class="col-xs-6">Low</label>
				    <input type="number" class="form-control col-xs-6" id="mktLow" value="{{mktLow}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="mktLast" class="col-xs-6">Close</label>
				    <input type="number" class="form-control col-xs-6" id="mktClose" value="{{mktLast}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="mktMultiplier" class="col-xs-6">Multiplier</label>
				    <input type="number" class="form-control col-xs-6" id="mktMultiplier" value="{{mktMultiplier}}">
				  </div>

				  <div class="form-group form-hour">
				    <label for="mktMaxPosition" class="col-xs-6">Maximum Position</label>
				    <input type="number" class="form-control col-xs-6" id="mktMaxPosition" value="{{mktMaxPosition}}">
				  </div>

				  <div class="form-group">
				      <button type="submit" class="btn btn-warning">Save Market</button>
				  </div>

				</form>

				<div class="row margin-top-20">
					<h4>Market is {{ marketState }}</h4>

					<button id="open-market" class="btn btn-success">Open Market</button>
					<button id="close-market" class="btn btn-danger">Close Market</button>
				</div>

				<div class="row margin-top-20 danger-zone">
					<h4>DANGER ZONE</h4>
					<p>Remove Trades resets also Market</p>	
					<p>Remove Prices removes also Bids and Offers</p>
					<button id="remove-trades" class="btn btn-danger">Remove Trades</button>
					<button id="remove-prices" class="btn btn-danger">Remove Prices</button>
				</div>

			</div> <!-- left panel -->


			<div class="col-xs-12 col-md-8"> <!-- Right Panel -->
				<div class="row">
					{{> adminContent }}
				</div>
			</div> <!-- right panel ends -->



		</div> <!-- row -->
	</div> <!-- container -->
</div> <!-- container fluid -->
	
</template>






