<template name="adminPanel">

<div class="container-fluid" id="admin-panel">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 admin-form">
				<h4>MARKET SETUP</h4>

				{{#autoForm collection="Markets" doc=market id="updateMarketForm" type="update"}}

			    <fieldset>
			      {{> afQuickField name='estimatedValue'}}
			      {{> afQuickField name='actualValue'}}
			      {{> afQuickField name='openHour'}}
			      {{> afQuickField name='closeHour'}}
			      {{> afQuickField name='open'}}
			      {{> afQuickField name='high'}}
			      {{> afQuickField name='low'}}
			      {{> afQuickField name='last'}}
			      {{> afQuickField name='multiplier'}}
			      {{> afQuickField name='maxPosition'}}
			    </fieldset>

			    <button type="submit" class="btn btn-primary">Save</button>
			    <button type="button" class="cancel btn grey">Cancel</button>
			    
			  {{/autoForm}}
				
				<div class="margin-top-20 open-market">
					<h4>MARKET IS {{ marketState }}</h4>

					<button id="open-market" class="btn btn-success">Open Market</button>
					<button id="close-market" class="btn btn-danger">Close Market</button>
				</div>

				<div class="margin-top-20 danger-zone">
					<h4>DANGER ZONE</h4>
					<p>Removes Trades and resets Market</p>	
					<p>Removes Prices and removes Bids and Offers</p>
					<button id="remove-trades" class="btn btn-danger">Remove Trades</button>
					<button id="remove-prices" class="btn btn-danger">Remove Prices</button>
				</div>

			</div> <!-- left panel -->


			<div class="col-xs-12 col-md-8"> <!-- Right Panel -->
				<div class="row">
					{{> adminContent }}
				</div>
			</div> <!-- right panel ends -->

		</div> <!-- row -->
	</div> <!-- container -->
</div> <!-- container fluid -->
	
</template>






