<template name="market">
	<div class="container">
		{{> sessionStatistics}}

		<div class="row">

			<div class="col-xs-6 prices-panel">
				<div class="row">
					
					{{> Template.dynamic template=newOrderTemplate}}

					<div class="col-xs-6 bids">
						{{> bidsList}}
					</div>

					<div class="col-xs-6 offerss">
						{{> offersList}}
					</div>

				</div> <!-- Row ends -->
			</div> <!-- End of prices-panel -->
			<div class="col-xs-6 chart-panel">
				Chart
			</div>	
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-6">
				{{> myOrders}}
			</div>
			<div class="col-xs-12 col-md-6">
				{{> myTrades}}
			</div>
		</div>

	</div>
</template>

<template name="newOrderButton">
	<div class="col-xs-12">
		<button class="btn btn-default new-order" type="submit">New Order</button>
	</div>
</template>

<template name="newOrderForm">
	<form class="form-horizontal">

		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="buy" checked>
					Buy
		  </label>
		</div>

		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="sel">
					Sell
		  </label>
		</div>

	  <div class="form-group">
	    <label for="inputPrice" class="col-sm-2 control-label">Price</label>
	    <div class="col-sm-3">
	      <input type="price" class="form-control" id="inputPrice">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputSize" class="col-sm-2 control-label">Size</label>
	    <div class="col-sm-3">
	      <input type="size" class="form-control" id="inputSize">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-10">
	      <button type="submit" class="btn btn-default">Place Order</button>
	      <button type="cancel" class="btn btn-default cancel-new-order">Cancel</button>
	    </div>
	  </div>
	</form>
</template>