<template name="market">
<!-- 
	{{#if marketOpen}}
		Open
	{{else}}
		Closed
	{{/if}} -->

	<div class="container-fluid" id="sessionStatistics">
		<div class="container">
			{{> sessionStatistics}}
		</div>
	</div>

	<div class="container-fluir" id="my-open-position">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 my-open-position">
					<h4>You are <span class="open-position">{{ openPosition }}</span></h4>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="prices-panel">
		<div class="container">

			<div class="row">

				{{#if marketOpen}}
					<div class="col-xs-12 col-md-4 prices-panel">

						<div class="row" id="new-order-form">
							<div class="col-xs-12">
								{{> Template.dynamic template=newOrderTemplate}}
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 prices-list">
								{{> pricesList}}
							</div>
						</div> <!-- Row ends -->

					</div> <!-- End of prices-panel -->
				{{else}}
					<div class="col-xs-12 col-md-4 market-closed">
						<h2>Market is closed</h2>
					</div>
				{{/if}}

				<div class="col-xs-12 col-md-8 chart">
					{{>marketChart }}
				</div>	

			</div> 
		</div> <!-- container ends -->
	</div> <!-- container-fluid ends -->

	<div class="container-fluid" id="my-activity">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6" id="my-orders">
					{{> myOrders}}
				</div>
				<div class="col-xs-12 col-md-6">
					{{> myTrades}}
				</div>
			</div>
		</div>
	</div>
</template>
