<template name="market">
	<div class="container">
		{{> statistics}}

		<div class="row">
			<div class="col-xs-12">
				<button id="new-order" class="btn btn-primary">New order</button>
			</div>
			<div class="col-xs-6 prices-panel">
				<div class="row">
					<div class="col-xs-6 bids">
						{{> bidsList}}
					</div>
					<div class="col-xs-6 offerss">
						{{> offersList}}
					</div>
				</div>
			</div> <!-- End of prices-panel -->
			<div class="col-xs-6 chart-panel">
				Chart
			</div>	
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-6">
				{{> myOrders}}
			</div>
			<div class="col-xs-12 col-md-6">
				{{> myTrades}}
			</div>
		</div>

	</div>
</template>