<template name="myOrders">

	
	<div class="table-header">
		<h4>MY RECENT ORDERS</h4>		
		{{#if anyOrders}}
			<a href="/all-orders">
				<button type="button" class="btn btn-primary btn-orange btn-xs delete-order">All orders</button>
			</a>
		{{/if}}
	</div>
	
	{{#if anyActiveOrders}}
		<table>
			<thead>
				<tr>
					<th>Side</th>
					<th>Status</th>
					<th>Price</th>
					<th>Size</th>
					<th>Size Left</th>
					<th>Date and Time</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each myOrders}}
					{{> myOrderItem }}
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<h5>You don't have any active orders</h5>
	{{/if}}

</template>