<template name="newOrderForm">
	<form class="form-horizontal">
		<h4>New Order</h4>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="buy" checked>
					Buy
		  </label>
		</div>

		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="sell">
					Sell
		  </label>
		</div>

	  <div class="form-group {{errorClass 'price'}}">
	    <label for="inputPrice" class="col-sm-2 control-label">Price</label>
	    <div class="col-sm-3">
	      <input type="price" class="form-control" id="inputPrice">
	    </div>
	    <span class="help-block col-sm-12">{{errorMessage 'price'}}</span>
	  </div>

	  <div class="form-group {{errorClass 'size'}}">
	    <label for="inputSize" class="col-sm-2 control-label">Size</label>
	    <div class="col-sm-3">
	      <input type="size" class="form-control" id="inputSize">
	    </div>
	    <span class="help-block col-sm-12">{{errorMessage 'size'}}</span>
	  </div>
		
		<div class="form-group {{errorClass 'myself'}}">
	  	<span class="help-block col-sm-12 error-myself">{{errorMessage 'myself'}}</span>
	  </div>

	  <div class="form-group {{errorClass 'orderToBig'}}">
	  	<span class="help-block col-sm-12 error-orderToBig">{{errorMessage 'orderToBig'}}</span>
	  </div>

	  <div class="form-group">

	      <button type="submit" class="btn btn-default">Place Order</button>
	      <button type="cancel" class="btn btn-default cancel-new-order">Cancel</button>

	  </div>
	</form>
</template>