<template name="sessionStatistics">
	<div class="row">

		<div class="col-xs-6 col-md-4 session-statistics">
			<h3>Session Statistics</h3>
		
			<table>
				{{#with statistics}}
					<tr>
						<td>Trades</td>
						<td class='right-cell'>{{number_of_trades}}</td>
					</tr>
					<tr>
						<td>Contracts traded</td>
						<td class='right-cell'>{{total_contracts_traded }}</td>
					</tr>
					<tr>
						<td>Open</td>
						<td class='right-cell'>{{open}}</td>
					</tr>
					<tr>
						<td>High</td>
						<td class='right-cell'>{{high}}</td>
					</tr>
					<tr>
						<td>Low</td>
						<td class='right-cell'>{{low}}</td>
					</tr>
					<tr>
						<td>Last</td>
						<td class='right-cell'>{{last}}</td>
					</tr>
				{{/with}}
			</table>
		</div>

		<div class="col-xs-6 col-md-4 my-account">
			<h3>My Account</h3>

			{{#with myPortfolio}}
				<tr>
					<td>Trades</td>
					<td class='right-cell'>{{ number_of_trades }}</td>
				</tr>
				<tr>
					<td>Contracts traded</td>
					<td class='right-cell'>{{ contracts_traded }}</td>
				</tr>
			{{/with}}

			{{#with myPortfolioDynamicValues}}
				<tr>
					<td>Open position</td>
					<td class='right-cell'>{{ openPosition }}</td>
				</tr>
				<tr>
					<td>Average open position price</td>
					<td class='right-cell'>{{ avgOpenPositionPrice }}</td>
				</tr>
				<tr>
					<td> Reval price</td>
					<td class='right-cell'>{{ revalPrice }}</td>
				</tr>
				<tr>
					<td>Open position value </td>
					<td class='right-cell'>{{ openPositionValue }}</td>
				</tr>
				<tr>
					<td>Cash</td>
					<td class='right-cell'>{{ cash }}</td>
				</tr>
				<tr>
					<td>Total account value</td>
					<td class='right-cell'>{{  totalAccountValue }}</td>
				</tr>
			{{/with}}
		</div>
		
		<div class="col-xs-12 col-md-4 top-players">
			Top Players
		</div>

	</div>
</template>