<template name="sessionStatistics">
	<div class="row">
		<div class="col-xs-6 session-statistics">
			<h3>Session Statistics</h3>
			<ul>
				{{#with statistics}}
					<li>Total contracts traded: {{total_contracts_traded }}</li>
					<li>Number of trades: {{number_of_trades}}</li>
					<li>Open: {{open}}</li>
					<li>High: {{high}}</li>
					<li>Low:  {{low}}</li>
					<li>Last: {{last}}</li>
				{{/with}}
			</ul>
		</div>

		<div class="col-xs-6 my-account">
			<h3>My Account</h3>
			<ul>
				{{#with myAccount}}
					<li>Trades: {{trades}}</li>
					<li>Contracts traded:  {{contracts_traded}}</li>
					<li>Open position:  {{open_position}}</li>
					<li>Average open position price: {{avg_open_position_price}}</li>
					<li>Open position valuation: {{open_position_value}}</li>
					<li>Cash: {{cash}} Paycoins</li>
					<li>Total account value: ?</li>
				{{/with}}
			</ul>
		</div>
	</div>
</template>