<template name="statistics">
	<div class="row">
		<div class="col-xs-6 session-statistics">
			<h3>Session Statistics</h3>
			<ul>
				<li>Total contracts traded: 254</li>
				<li>Number of trades: 32</li>
				<li>Open: 250</li>
				<li>High: 270</li>
				<li>Low:  240</li>
				<li>Last: 255</li>
			</ul>
		</div>
		<div class="col-xs-6 my-account">
			<h3>My Account</h3>
			<ul>
				<li>Trades: 3</li>
				<li>Contracts traded:  7</li>
				<li>Open position:  3</li>
				<li>Average open position price: 256</li>
				<li>Open position valuation: 1250</li>
				<li>Cash: 99,000 Paycoins</li>
				<li>Total account value: 100.250</li>
			</ul>
		</div>
	</div>
</template>