@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
*, h1,h2,h3,h4,h5,h6, li, a, p, span {
	font-family: 'Roboto', sans-serif;
}

* ul {
	list-style-type: none;
}

@keyframes fadeOut {
	0% {opacity: 0;}
	10% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}

.alert {
	animation: fadeOut 2700ms ease-in 0s 1 forwards;
}

.container-fluid {
	width: 100%;
	padding: 0;
}
