#home-chart {
	path{
		fill: none;
		stroke: $blue;
		stroke-width: 10;
	}
	circle {
		fill: $blue;
		animation-duration: 2s;
		animation-name: circle-explode;
		animation-iteration-count: infinite;
		animation-timing-function: ease-out;
	}
}

#chart {
	path{
		fill: none;
		stroke: $blue;
		stroke-width: 2;
	}
	circle {
		fill: $blue;
	}
}

@keyframes circle-explode {
	from {
		r: 5px;
		opacity: 1;
	}

	to {
		r: 20px;
		opacity: 0;
	}

}
