.navbar-header .navbar-brand {
	font-size: 2.5rem;
	font-weight: 700;
	color: $blue;
	&:hover, &:focus { color: $blue; }
}

.navbar {
	margin-bottom: 0;
}

#login-dropdown-list a.dropdown-toggle, .navbar-nav li.header-link a {
	font-size: 1.6rem;
}

