#sessionStatistics,  {
	color: white;
	background: $blue;
	padding-bottom: 20px;

	* {
		font-weight: 300;
	}

	td:nth-child(2n) {
		padding: 0 0 0 30px;
		text-align: right;
	}
}
.btn-new-order {
	background: $orange;
	width: 100%;
}


#new-order-button {
	padding-left: 0;
}


#new-order-form {
	padding: 20px 0;

	form {
		color: white;
		background: $blue;
		width: 370px;
		padding: 20px 40px 40px 40px; 
		border-radius: $medium-border-radius;
		margin-bottom: 20px;
	}

	.form-control{
		width: 70px;
	}

	.radio {
		display: inline-block;
		margin-right: 30px;
		padding-bottom: 10px;
	}

	.form-group { 
		margin: 0;
		label { 
			padding-left: 0;
			text-align: left;
		}
	}

	button {
		margin-right: 10px;
		padding: 9px 23px;
	}

	button[type=submit] {
		margin: 0;
		color: white;
		background: $orange;
		border: none;
		&:hover {
			cursor: pointer;
			background: darken($orange, 10%);
		}
	}
}

.prices-panel {
	margin-bottom: 20px;
	ul {
		padding: 0;
		float: left;
	}
}

.my-price {
	font-size: 1.2rem;
	color: lighten($blue, 20%);
}

.bids, .offers {
	display: inline-block;
	min-height: 100px;

	h3 {
		margin: 0;
	}

	.price-item {
		margin-bottom: 2px;
		padding: 8px 20px;
		background: $blue;
		color: white;
		text-align: center;
	}

	.price {
		margin: 0;
		padding: 0 10px;
	}

	.bid-size, .offer-size {
		display: inline-block;
		color: lighten($blue, 20%);
		font-size: 1.7rem;
		margin: 0;
	}

	.price-item-header {
		background: $dark-blue;
	}
}

.price-item-header {
	color: white;
	background: $dark-blue;
	text-align: center;
	font-size: 2rem;
	padding: 5px;
}

.bids {
	margin-right: 2px;
	margin-bottom: 0;
}

// My Active Orders & My Trades

#my-activity {
	background: $blue;
	padding: 20px 0;

	* {font-weight: 300;}
	
	h4, h5, li, a, td, th {
		color: white;
	}

	h4 {
		display: inline-block;
		margin-right: 20px;
	}

	th, td {
		padding: 10px 10px;
		border-top: 1px solid lighten($blue, 5%);
	}
}

.right-cell {
	text-align: right;
}


.glyphicon-arrow-up {
	color: $green;
}

.glyphicon-arrow-down {
	color: $red;
}

#my-open-position {
	background: $dark-blue;
	h4 {
		color: white;
		opacity: 0.8;
	}
}



