.all-trades, .all-orders {
	
	margin-top: 20px;

	.table-header {
		color: 	$gray;
		font-weight: bold;
	}

	table > thead > tr > th {
		color: $blue;
	}

td.order-active {
		color: $green;
		font-weight: bold;
	}
}

.header-sortable {
	cursor: pointer;
	&:hover {
		background: $blue;
		color: white;
	}
}