$red:					#E74C3C;
$green:				#329941;

$very-dark-blue: 		#0b2b3a;
$dark-blue:					#0f4765;
$blue:							#5a9ed5;
$light-blue:				#1990C7;
$very-light-blue: 	#78AEC7;
$super-light-blue: 	#A2BAC7;
$yellow:						#ffe460;
$orange: 						#ED8439;
$light-yellow:			#ddd591;


$super-light-gray:			#ededed;
$font-very-light-gray: 	#ddd;
$font-light-gray: 			#989898;
$vlight-gray:						#ddd;
$light-gray:						#aaa;
$gray:									#888;
$dark-gray:							#555;

$max-width:						1000px;

$medium-radius: 	6px;
$small-radius:		4px;


// Bootstrap variables overwrites;

$font-family-sans-serif: 'Roboto', sans-serif;
$navbar-height: 50px;
$navbar-border-radius: 0;
$navbar-default-color: 								$light-blue;
$navbar-default-link-color: 					$light-blue;
$navbar-default-link-hover-color:			darken($light-blue, 6.5%);
$navbar-default-brand-color: 					$light-blue;
$navbar-default-brand-hover-color:		$blue;
$navbar-default-bg: 					none;
$navbar-default-border: 			none;

// Border radius 
$small-border-radius:		2px;
$medium-border-radius:	6px;
$big-border-radius:			10px;



