<template name="allOrders">
	<div class="container all-orders">
		<div class="row">

			<div class="col-xs-12">
			
				<div>
					<h4 class="table-header">All Orders</h4>
				</div>

				<table class='table table-striped'>
					<thead>
						<tr>
							<th>Buy/Sell</th>
							<th>Status</th>
							<th>Price</th>
							<th>Size</th>
							<th>Size Left</th>
							<th>Date and time</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each myAllOrders}}
							{{> allOrdersItem }}
						{{/each}}
					</tbody>
				</table>

			</div>

		</div>
	</div>
</template>