<template name="homePage">

	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3">
					<div class="chart-area">
						<div id="home-chart" class="ct-chart ct-perfect-fourth"></div>
					</div>
				</div>
			</div>

			<div class="row jumbo-header">
				<div class="col-xs-12">
					<h1>Trade Payrolls. Earn Paycoins.</h1>
				</div>
			</div>
		</div>
	</div> <!-- jumbo container ends -->
	
	<div class="container-fluid how-it-works">
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>How it works?</h1>
				</div>
			</div>

			<div class="row">

				<div class="col-xs-12 col-md-4">
					<h3 class="header-center">WHY</h3> 

					<p> Payrollsio is the simple platform crafted lovingly to enable you to trade Non-farm Payrolls for fun only.
						As we all know NFPs is pretty much a random number. You know nothing John Snow! </p>

					<p>All estimates are good, but we know better. 
						We talk payrolls, we speculate and then we win!</p>	
				</div>

				<div class="col-xs-12 col-md-4">
					<h3 class="header-center">HOW</h3> 

					<p>When you create your free account
						, we give you some pocket money. 100.000 Paycoins exactly.
						This is when the adventure begins and adrenaline starts pumping. 
						You are free to trade. Sell or buy, do whatever you want and win as much paycoins as you
						can. </p>

					<p>The winner takes it all. The loser's standing small.</p>	
				</div>

				<div class="col-xs-12 col-md-4">
					<h3 class="header-center">WHEN</h3> 

					<p>The number is released on the first Friday of every month at 1:30 pm GMT.
						Do not miss, it's exciting day. The platform opens at 8.00 am GMT, so you have 5.5 hours for your 
						brave speculations.</p>

					<p>After the number is published all contracts are settled. You can check your winners and losers in your Account tab.</p>	
				</div>

			</div> <!-- row ends -->
		</div> <!-- container ends -->
	</div> <!-- how it works container-fluid ends -->

	<div class="container-fluid contract-standard">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Contract standard</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p> We talk thousands. 1 tick is worth 10 Paycoins. You start with 100.000 Paycoins. </p>

					<h3>Example</h3> 
					<p>You bought 10 contracts at 245k (245.000). Actual figure was, to your suprise, 267.000.
						<br>
						Your profit is 10 contracts * (267 - 245) * 10 tick value. 
						<br>
						That is 2.200 Paycoins!
						<br>
						Congratulations!</p>
				</div>
			</div>
		</div>
	</div> <!-- contract-standard ends -->
	
	<div class="container-fluid main-footer">
		<div class="container">
			<h4><span class="glyphicon glyphicon-copyright-mark"></span> 2015 Payrollsio - built in London, UK</h4>
		</div>
	</div>


</template>